/* Popup.css */
.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.popup-container {
    width: 800px;
    max-width: 90vw;
    background: #fff;
    border-radius: 12px;
    padding: 16px 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.popup-title {
    font-size: 24px;
    font-weight: 700;
}

.popup-close {

    cursor: pointer;

    .ic{
        display: block;
        width: 24px;
        height: 24px;

        &.ic-close{
           background: url("../public/img/ic_close.svg")no-repeat center / cover;
        }
    }
}

.popup-body {
    margin-bottom: 16px;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.popup-button {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #ff4b4b;
    color: #fff;
    font-size: 14px;
}

.popup-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}